body {
    text-align: center;
    font-family: Roboto;
    background-image: url(imgs/gratisography-368H.jpg);
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-position: center;  
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.boxed {
    border: 1px;
    border-color: white;
    border-style: solid;
    background: white;
    opacity: 0.7;
    width: 500px;
    height: auto;
    margin: 200px auto;
    padding: 0.5em;
}

button {
    font-family: Roboto;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #D75B84;
    color: white;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

button:hover,
button:focus {
    background: #C57F87;
}

button:foxus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.quote {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    bottom: 0px;
}